 {{ partial "head.html" . }}
	<body class="smoothscroll">

		<div id="wrapper">


			{{ partial "header.html" . }}
			{{ partial "home_page/intro_slider.html" . }}
			{{ partial "home_page/product.html" . }}
			{{ partial "home_page/second_section.html" . }}
			{{ partial "home_page/solution.html" . }}
			
			{{ partial "footer.html" . }}
		</div>
			<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="/plugins/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/plugins/jquery.isotope.js"></script>
		<script type="text/javascript" src="/plugins/masonry.js"></script>

		<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/plugins/knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="/plugins/flexslider/jquery.flexslider-min.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="/js/revolution_slider.js"></script>
		

		<script type="text/javascript" src="/js/scripts.js"></script>
	</body>
</html>



