<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>It's you online</title>

    <meta name="description" content="" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/demo/favicon.ico" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/sky-forms.css" rel="stylesheet" type="text/css" />
    <link href="/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/line-icons.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />


    <!-- REVOLUTION SLIDER -->
    <link href="/css/revolution-slider.css" rel="stylesheet" type="text/css" />
    <link href="/css/layerslider.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/header-4.css" rel="stylesheet" type="text/css" />
    <link href="/css/footer-default.css" rel="stylesheet" type="text/css" />
    <link href="/css/color_scheme/darkgreen.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <!-- Morenizr -->
    <script type="text/javascript" src="/plugins/modernizr.min.js"></script>

    <!--[if lte IE 8]>
      <script src="/plugins/respond.js"></script>
    <![endif]-->
    <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66665092-1', 'auto');
  ga('send', 'pageview');
</script>
  </head>